asgiref==3.10.0
dataclasses==0.6
Django==4.2.25
django-cors-headers==4.9.0
djongo==1.2.31
dnspython==2.8.0
gunicorn==23.0.0
packaging==25.0
pymongo==4.15.3
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
