<mat-toolbar class="projlist maincolor">
  <mat-toolbar-row>
    <div class="logo">tec<img alt="X" src="../assets/images/logo_x.png"/>onic</div>
    <span class=spacer></span>
    <button mat-icon-button class="white m_right10"
      matTooltip="go home" routerLink="/">
      <i class="fa fa-home fa-2x"></i>
    </button>
    <button mat-icon-button class="white m_right10"
      matTooltip="view resume" routerLink="/resume">
      <i class="fa fa-graduation-cap fa-2x"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div id="_tp_nav">
  <!-- <div class="list_of_projects">List of projects</div> -->
  <mat-list class="p_top0">
      <mat-list-item *ngFor="let project of projects; let i = index"
        (click)="setProject(project, i);"
        [ngClass]="{'bg_pink maincolor': (projectPos == i), 'pointer gray_a7 b_bottom_gray17':!(projectPos == i)}">
          <span mat-list-icon>{{ i + 1 }}.</span>
          <h4 mat-line>{{ project.name }}</h4>
          <p mat-line>{{ project.description }}</p>
      </mat-list-item>
  </mat-list>
</div>

<div id="_tp_content">
  <div class="weather_app">
    {{ localCity | json }}
  </div>
</div>
