<div class="projects">
	<div class="project_card">
		<img src="../assets/images/proj1.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
	<div class="project_card">
		<img src="../assets/images/2proj.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
	<div class="project_card">
		<img src="../assets/images/3proj.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
	<div class="project_card">
		<img src="../assets/images/proj1.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
	<div class="project_card">
		<img src="../assets/images/2proj.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
	<div class="project_card">
		<img src="../assets/images/3proj.jpeg">
		<div>
			<p>Project name<br> Languages used<br> click to see more</p>
		</div>
	</div>
</div>