<div class="contact">
	<h2 class="maincolor centered">For questions or job offers</h2>
	<form>
		<mat-form-field class="w100pct" appearance="outline">
			<mat-label>Subject</mat-label>
			<input matInput placeholder="Placeholder">
		</mat-form-field>
		<mat-form-field class="w100pct" appearance="outline">
			<mat-label>Email</mat-label>
			<input type="email" matInput placeholder="Placeholder">
		</mat-form-field>
		<mat-form-field class="w100pct" appearance="outline">
			<mat-label>Message</mat-label>
			<textarea matInput placeholder="Placeholder"></textarea>
		</mat-form-field>
		<button type="submit" mat-stroked-button>
			<i class="fa fa-paper-plane"></i> Send to Brian</button>
	</form>
</div>