/* footer */
footer {
  padding-top: 20px;
  text-align: center;
}
footer ul { padding-left:  0; }
.social li {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.5em;
}
.social a:hover { color: #de4f4f; }
.ficon {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 1.7em;
}
ul.credit li {
  list-style: none;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 0.5em;
  color: #a7a7a7;
}
.goup {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
