<div class="about">
	<header>
		<h1>Brian Musinyan</h1>
		<p>
			<span>Software Engineer</span>
			<span>Glendale, CA</span>
			<span>bmusinyan@gmail.com</span>
		</p>
		<p>
			<i class="fab fa-linkedin" (click)="manageActions('linkedin')"></i>
			<i class="fab fa-github p_left10"  (click)="manageActions('github')"></i>
			<i class="fas fa-file-pdf p_left10"></i>
		</p>
	</header>
	<aside>
		<h4>SKILLS</h4>
		<ul class="p_left15">
			<li>HTML / CSS</li>
			<li>JavaScript</li>
			<li>TypeScript</li>
			<li>Angular</li>
			<li>ExtJS</li>
			<li>PHP</li>
			<li>Node.js</li>
			<li>D3</li>
			<li>Raphale.js</li>
		</ul>
		<h4>LANGUAGES</h4>
		<p>English</p>
		<mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
		<p>Armenian</p>
		<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
		<p>Russian</p>
		<mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
	</aside>
	<article>
		<h4><i class="fas fa-user"></i> Profile</h4>
		<section>
			Down to earth software engineer with a soft spot for Web applications.
			Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			<br>
			5+ years of experience in JavaScript frameworks such as ExtJS and Angular.
			Skilled in HTML/CSS, PHP, SQL, Node.js, D3 and Electron. 
		</section>
		<h4><i class="fas fa-briefcase"></i> Employment History</h4>
		<section>
			Automai Corporation<br>
			<b class="pink">May 2013 – Present</b>
		</section>
		<h4><i class="fas fa-project-diagram"></i> Projects</h4>
		<section id="_projectlist">
			<i class="far fa-dot-circle"></i> AppLoader<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="d3">D3</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> AppsWatch<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="d3">D3</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Robotic Functional Testing<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Robotic Process Automation<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> License Generator<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Sessions Controller<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
					<mat-chip class="nodejs">Node.js</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Automai Studio<br>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
					<mat-chip class="nodejs">Node.js</mat-chip>
				</mat-chip-list>
			</p>
		</section>
		<h4><i class="fas fa-graduation-cap"></i> Education</h4>
		<section>
			University of California Los Angeles<br>
			Bachelor of Science in Computer Science<br>
			<b class="pink">March 2013</b>
		</section>
	</article>
</div>