<div class="about">
	<header>
		<h1>Brian Musinyan</h1>
		<p>
			<span>Software Engineer</span>
			<span>Glendale, CA</span>
			<span>bmusinyan@gmail.com</span>
		</p>
		<p>
			<i class="fab fa-linkedin" (click)="manageActions('linkedin')"></i>
			<i class="fab fa-github p_left10"  (click)="manageActions('github')"></i>
			<i class="fas fa-file-pdf p_left10"></i>
		</p>
	</header>
	<aside>
		<div class="skills">
			<h4>Skills</h4>
			<ul class="p_left15">
				<li>HTML / CSS</li>
				<li>JavaScript</li>
				<li>TypeScript</li>
				<li>Angular</li>
				<li>ExtJS</li>
				<li>PHP</li>
				<li>Node.js</li>
				<li>D3</li>
				<li>Raphale.js</li>
			</ul>
		</div>
		<div class="languages">
			<h4>Languages</h4>
			<p>English</p>
			<mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
			<p>Armenian</p>
			<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
			<p>Russian</p>
			<mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
		</div>
	</aside>
	<article>
		<!-- summary -->
		<h4><i class="fas fa-user"></i> Profile</h4>
		<section>
			Down to earth software engineer with a soft spot for Web applications.
			Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			<br>
			5+ years of experience in JavaScript frameworks such as ExtJS and Angular.
			Skilled in HTML/CSS, PHP, SQL, Node.js, D3 and Electron.
		</section>

		<!-- skills -->
		<h4 class="sm_skills"><i class="fas fa-laptop-code"></i> Skills</h4>
		<section class="sm_skills" id="_skills">
			<i class="far fa-dot-circle"></i> HTML / CSS<br>
			<i class="far fa-dot-circle"></i> JavaScript<br>
			<i class="far fa-dot-circle"></i> Angular / TypeScript<br>
			<i class="far fa-dot-circle"></i> ExtJS<br>
			<i class="far fa-dot-circle"></i> PHP<br>
			<i class="far fa-dot-circle"></i> Node.js<br>
			<i class="far fa-dot-circle"></i> D3<br>
			<i class="far fa-dot-circle"></i> Raphale.js<br>
		</section>

		<!-- employment -->
		<h4><i class="fas fa-briefcase"></i> Employment History</h4>
		<section id="_joblist">
			<i class="far fa-dot-circle"></i> Automai Corporation<br>
			<b class="pink">May 2013 – Present</b>
		</section>

		<!-- projects -->
		<h4><i class="fas fa-project-diagram"></i> Current Projects at Automai</h4>
		<section class="projectlist">
			<i class="far fa-dot-circle"></i> AppLoader<br>
			<p>
				This tool simulates user actions on any kind of application for any number of users.
				It allows to load stress applications or to test the quality of the applications deployed.
			</p>
			<ul style="color: #000000;font-weight: 500">
				<li>2013: Upgraded ExtJS 3 to ExtJS 4</li>
				<li>2013-2014: Completely rewrote AppLoader's font end</li>
				<li>2014-2015: Upgraded back end PHP from version 5 to 7</li>
				<li>2014-2015: Moved from ExtJS 4 graphs to D3 to satisfy application's requirements</li>
				<li>2014-present: Designing and adding new features</li>
				<li>2014-present: Programmed PHP to carry business logic and to accomidate front end changes and features</li>
			</ul>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="d3">D3</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> AppsWatch<br>
			<p>
				This tool monitors availability and response time of any application from end user's point of view.
				It uses robotic technology to automate monitoring of applications in any Windows environment.
			</p>
			<ul style="color: #000000;font-weight: 500">
				<li>2014: Upgraded ExtJS 3 to ExtJS 4</li>
				<li>2014-2015: Completely rewrote AppsWatch's font end</li>
				<li>2014-2015: Upgraded back end PHP from version 5 to 7</li>
				<li>2014-2015: Moved from ExtJS 4 graphs to D3 to satisfy application's requirements</li>
				<li>2015-present: Designing and adding new features</li>
				<li>2015-present: Programmed PHP to carry business logic and to accomidate front end changes and features</li>
			</ul>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="d3">D3</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Robotic Functional Testing<br>
			<p>
				This tool tests all your applications in your business process without any plugins.
				It eliminates false positives due to dumb robotic errors and adapts as a human would to screen color differences and geometry changes, font changes, moved images, etc.
			</p>
			<ul style="color: #000000;font-weight: 500">
				<li>2015: Started front end design and implementation from stratch using AngularJS</li>
				<li>2016: Upgraded AngularJS to Angular 2</li>
				<li>2016-present: Designing and adding new features</li>
				<li>2017: Upgraded Angular 2 to Angular 5</li>
				<li>2018: Upgraded Angular 5 to Angular 7</li>
			</ul>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Robotic Process Automation<br>
			<p>
				Down to earth software engineer with a soft spot for Web applications.
				Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			</p>
			<ul style="color: #000000;font-weight: 500">
				<li>2017: Started front end design and implementation from stratch using Angular 5</li>
				<li>2018: Upgraded Angular 5 to Angular 7</li>
				<li>2018-present: Designing and adding new features</li>
			</ul>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> License Generator<br>
			<p>
				Down to earth software engineer with a soft spot for Web applications.
				Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			</p>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="extjs">ExtJS</mat-chip>
					<mat-chip class="php">PHP</mat-chip>
					<mat-chip class="sqlite">SQLite</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Sessions Controller<br>
			<p>
				Down to earth software engineer with a soft spot for Web applications.
				Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			</p>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
					<mat-chip class="nodejs">Node.js</mat-chip>
				</mat-chip-list>
			</p>
			<i class="far fa-dot-circle"></i> Automai Studio<br>
			<p>
				Down to earth software engineer with a soft spot for Web applications.
				Specializes in applications designed to monitor other applications, test performance under load and regression testing.
			</p>
			<p>
				<mat-chip-list>
					<mat-chip class="html">HTML</mat-chip>
					<mat-chip class="css">CSS</mat-chip>
					<mat-chip class="angular">Angular</mat-chip>
					<mat-chip class="material">Material</mat-chip>
					<mat-chip class="nodejs">Node.js</mat-chip>
				</mat-chip-list>
			</p>
		</section>
		<h4><i class="fas fa-project-diagram"></i> Personal Projects</h4>
		<section class="_projectlist">

		</section>

		<!-- education -->
		<h4><i class="fas fa-graduation-cap"></i> Education</h4>
		<section>
			University of California Los Angeles<br>
			Bachelor of Science in Computer Science<br>
			<b class="pink">March 2013</b>
		</section>
	</article>
</div>
