/* cell phones */
@media(max-width: 480px) {
  .cover, .work { margin: 20px !important; }
  .logo { margin-top: 20px; }
  .main { align-self: flex-start !important; }
  .cover_techs code { font-weight: normal !important; }
}

.component {
  background-image: url(../../assets/images/banner16.png);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  display: flex;
}
.main { flex: 1; align-self: center; justify-content: center; }
.logo { color: #ffffff; font-size: calc(16px + 4vh); }
.logo img { height: calc(16px + 6vh); vertical-align: middle }
.cover {
  margin: 20px 15vw;
  padding-top: 20px;
  border-top: 2px solid #de4f4f;
  background: rgba(0,0,0,0.4);
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}
.cover_name { color: #DEE1E6; font-size: calc(12px + 2vh); }
.cover_desc { color: #33B39A; padding: 5px; font-size: calc(12px + 1vh); }
.cover_techs_title { color: #DEE1E6; margin-top: 20px; font-size: calc(12px + 1vh); }
.cover_techs {
  /* display: flex; flex-wrap: wrap; */
  margin-top: 10px;
  padding: 10px;
  background: #DEE1E6;
}
.cover_techs code { font-size: 16px; color: #bd2d2d; font-weight: bold; }

/* .cover_techs > div { flex: 1 0 80px; height: 50px; } */
.tech_extjs { color:#89c910 !important; font-size: 16px; padding-top: 10px; }
.tech_php { color:#4f5b93 !important; font-size: 16px; padding-top: 10px; }
.tech_laravel { color:#4f5b93 !important; font-size: 16px; padding-top: 10px; }
.tech_angular { color:#dd0330 !important; font-size: 16px; padding-top: 10px; }
.tech_sqlite { color:#048acc !important; font-size: 16px; padding-top: 10px; }
.tech_mongodb { color:#048acc !important; font-size: 16px; padding-top: 10px; }
.tech_nodejs { color:#3e863d !important; font-size: 16px; padding-top: 10px; }
.tech_express { color:#3e863d !important; font-size: 16px; padding-top: 10px; }
.tech_html { color:#e44d26 !important; font-size: 16px; padding-top: 10px; }
.tech_css { color:#0070b7 !important; font-size: 16px; padding-top: 10px; }
.tech_material { color:#1b39a8 !important; font-size: 16px; padding-top: 10px; }
.tech_d3 { color:#f68849 !important; font-size: 16px; padding-top: 10px; }

.work { margin: 20px 15vw; display: flex; }
.work div {
  /* display: inline-block; */
  /* min-width: 125px; */
  flex: 1;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
  background-color: #272833;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}
.work div:not(:first-child) { margin-left: 10px; }
.work p { margin: 5px 0; }
.work div:first-child { border: 1px solid #33B39A; color: #33B39A; }
.work div:first-child:hover { background-color: #33B39A; color: #272833; opacity: 1; }
.work div:nth-child(2) { border: 1px solid #DEE1E6; color: #DEE1E6; }
.work div:nth-child(2):hover { background-color: #DEE1E6; color: #272833; opacity: 1; }
.work div:nth-child(3) { border: 1px solid #de4f4f; color: #de4f4f; }
.work div:nth-child(3):hover { background-color: #de4f4f; color: #272833; opacity: 1; }

