<div class="component">
	<div class="main">
		<div class="logo">tec<img alt="X" src="../assets/images/logo_x.png"/>onic</div>
    <div class="cover">
      <div class="cover_name">{{ coverText?.header_org }}</div>
      <div class="cover_desc">{{ coverText?.desc_org }}</div>
      <div class="cover_techs_title">I work with the following technologies:</div>
      <div class="cover_techs">
        <img src="../../assets/images/angular.png" alt="Angular">
        <img src="../../assets/images/extjs.png" alt="ExtJS">
        <img src="../../assets/images/d3.png" alt="D3">
        <img src="../../assets/images/html.png" alt="HTML">
        <img src="../../assets/images/css.png" alt="CSS">
        <img src="../../assets/images/nodejs.png" alt="Node.js">
        <img src="../../assets/images/express.png" alt="Express">
        <img src="../../assets/images/php.png" alt="PHP">
        <img src="../../assets/images/laravel.png" alt="Laravel">
        <img src="../../assets/images/sqlite.png" alt="SQLite">

        <!-- <div><code>Angular, ExtJS, D3, Material, Bootstrap, HTML, CSS</code></div>
        <div><code>Node.js / Express, Laravel, PHP, SQL / SQLite</code></div> -->

      </div>
		</div>
    <div class="work">
			<div [ngx-scroll-to]="projectsRef">
				<i class="fa fa-mug-hot fa-2x"></i>
				<p>projects</p>
			</div>
			<div [ngx-scroll-to]="aboutRef">
				<i class="fa fa-graduation-cap fa-2x"></i>
				<p>resume</p>
			</div>
			<div [ngx-scroll-to]="contactRef">
				<i class="fa fa-envelope fa-2x"></i>
				<p>contact</p>
			</div>
		</div>
	</div>
</div>

<div #projectsRef>
	<app-projects></app-projects>
</div>
<div #aboutRef>
	<app-resume></app-resume>
</div>
<div #contactRef>
	<app-contact></app-contact>
</div>
